<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        .active {
            border : 2px solid black
        }
    </style> -->
</head>
<body>
    <div id='app'>
        <h2>记事本</h2>
        <input type="text"  v-model="textValue" @keyup.enter='add'>

       <ul v-show='arr.length>0'>
           <li v-for=" (item,index) in arr" >
               <div>
                   <span>{{index+1}} </span>
                   <label> {{item}}</label>
                   <button @click='deleteClick(index)'> 删除</button>
               </div>
           </li>
       </ul>

       <div>
           {{arr.length}}
           <button @click='deleteAll'>
            清空
        </button>
       </div>

 
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
     var app=new Vue({
         el:'#app',
         data:{
            arr:[],
            textValue:'',
    
         },
         methods:{
            add:function(){
                this.arr.push(this.textValue)
            },
            deleteClick:function(index){
                console.log(123,index)
                this.arr.splice(index,1)
            },
            deleteAll:function(){
                this.arr=[]
            }
         }
     })
    </script>
</body>
</html>